In [1]:
import os
import numpy as np

In [3]:
# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Where to save the figures
PROJECT_ROOT_DIR = "."
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images")
os.makedirs(IMAGES_PATH, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [6]:
DATA_PATH = os.path.join("dataset")
DATA_NAME = "data"

In [9]:
import pandas as pd

def load_data(data_path=DATA_PATH):
    csv_path = os.path.join(DATA_PATH, DATA_NAME + ".csv")
    return pd.read_csv(csv_path)

In [20]:
df = load_data()
df.head()

,Mois,Accenteur mouchet,Corneille noire,Fauvette à tête noire,Geai des chênes,Goéland argenté,Grimpereau des jardins,Grive musicienne,Merle noir,Mésange bleue,...,Pigeon biset,Pigeon ramier,Pinson des arbres,Pouillot véloce,Roitelet huppé,Roitelet à triple bandeau,Rougegorge familier,Sittelle torchepot,Troglodyte mignon,Étourneau sansonnet
0,janvier,1,22,0,4,0,3,1,22,16,...,1,37,3,0,4,0,14,0,5,33
1,fevrier,1,9,0,3,0,4,1,13,7,...,1,8,3,1,2,0,6,2,4,7
2,mars,0,25,6,2,1,7,3,24,16,...,17,24,11,3,1,2,9,2,10,16
3,avril,3,7,8,2,0,2,0,12,7,...,3,10,3,2,0,1,1,0,5,35
4,mai,0,7,10,1,0,5,0,24,4,...,8,9,6,4,0,0,11,0,7,48

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Mois                       12 non-null     object
 1   Accenteur mouchet          12 non-null     int64
 2   Corneille noire            12 non-null     int64
 3   Fauvette à tête noire      12 non-null     int64
 4   Geai des chênes            12 non-null     int64
 5   Goéland argenté            12 non-null     int64
 6   Grimpereau des jardins     12 non-null     int64
 7   Grive musicienne           12 non-null     int64
 8   Merle noir                 12 non-null     int64
 9   Mésange bleue              12 non-null     int64
 10  Mésange charbonnière       12 non-null     int64
 11  Mésange huppée             12 non-null     int64
 12  Mésange noire              12 non-null     int64
 13  Mésange à longue queue     12 non-null     int64
 14  Perruche à collier         12 non-null     int64
 15  Pic vert                   12 non-null     int64
 16  Pic épeiche                12 non-null     int64
 17  Pie bavarde                12 non-null     int64
 18  Pigeon biset               12 non-null     int64
 19  Pigeon ramier              12 non-null     int64
 20  Pinson des arbres          12 non-null     int64
 21  Pouillot véloce            12 non-null     int64
 22  Roitelet huppé             12 non-null     int64
 23  Roitelet à triple bandeau  12 non-null     int64
 24  Rougegorge familier        12 non-null     int64
 25  Sittelle torchepot         12 non-null     int64
 26  Troglodyte mignon          12 non-null     int64
 27  Étourneau sansonnet        12 non-null     int64
dtypes: int64(27), object(1)
memory usage: 2.8+ KB

In [17]:
df.describe()

,Accenteur mouchet,Corneille noire,Fauvette à tête noire,Geai des chênes,Goéland argenté,Grimpereau des jardins,Grive musicienne,Merle noir,Mésange bleue,Mésange charbonnière,...,Pigeon biset,Pigeon ramier,Pinson des arbres,Pouillot véloce,Roitelet huppé,Roitelet à triple bandeau,Rougegorge familier,Sittelle torchepot,Troglodyte mignon,Étourneau sansonnet
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,1.166667,13.416667,3.416667,2.083333,0.083333,3.666667,0.500000,14.916667,8.333333,7.333333,...,5.250000,19.333333,3.250000,1.166667,1.416667,1.250000,8.500000,1.000000,5.083333,19.250000
std,1.800673,7.012435,4.187825,1.564279,0.288675,1.874874,0.904534,7.378819,4.163332,5.630006,...,4.845335,10.915655,3.137022,1.337116,2.108784,1.912875,4.719399,1.279204,3.315483,23.798873
min,0.000000,5.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,4.000000,2.000000,...,1.000000,6.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,0.000000,7.000000,0.000000,1.000000,0.000000,2.000000,0.000000,10.750000,5.750000,3.000000,...,1.750000,9.750000,0.750000,0.000000,0.000000,0.000000,5.500000,0.000000,3.500000,1.500000
50%,0.500000,12.500000,1.000000,1.500000,0.000000,4.000000,0.000000,14.500000,7.000000,6.000000,...,3.500000,17.000000,3.000000,1.000000,0.000000,0.000000,9.500000,0.000000,5.000000,8.500000
75%,1.250000,19.500000,6.500000,2.250000,0.000000,5.000000,1.000000,22.250000,10.250000,9.250000,...,7.250000,26.750000,4.250000,2.000000,2.500000,2.000000,11.250000,2.000000,5.500000,33.500000
max,6.000000,25.000000,11.000000,6.000000,1.000000,7.000000,3.000000,24.000000,16.000000,22.000000,...,17.000000,37.000000,11.000000,4.000000,6.000000,5.000000,16.000000,3.000000,12.000000,75.000000

In [1]:
import matplotlib.pyplot as plt